@-webkit-keyframes text-drop {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  0%, 10% {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem); }
  12%, 22% {
    -webkit-transform: translateY(16rem);
            transform: translateY(16rem); }
  24%, 34% {
    -webkit-transform: translateY(24rem);
            transform: translateY(24rem); }
  36%, 46% {
    -webkit-transform: translateY(32rem);
            transform: translateY(32rem); }
  48%, 58% {
    -webkit-transform: translateY(40rem);
            transform: translateY(40rem); }
  60%, 70% {
    -webkit-transform: translateY(48rem);
            transform: translateY(48rem); }
  72%, 82% {
    -webkit-transform: translateY(56rem);
            transform: translateY(56rem); }
  84%, 94% {
    -webkit-transform: translateY(64rem);
            transform: translateY(64rem); }
  100% {
    -webkit-transform: translateY(64rem);
            transform: translateY(64rem); } }

@keyframes text-drop {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  0%, 10% {
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem); }
  12%, 22% {
    -webkit-transform: translateY(16rem);
            transform: translateY(16rem); }
  24%, 34% {
    -webkit-transform: translateY(24rem);
            transform: translateY(24rem); }
  36%, 46% {
    -webkit-transform: translateY(32rem);
            transform: translateY(32rem); }
  48%, 58% {
    -webkit-transform: translateY(40rem);
            transform: translateY(40rem); }
  60%, 70% {
    -webkit-transform: translateY(48rem);
            transform: translateY(48rem); }
  72%, 82% {
    -webkit-transform: translateY(56rem);
            transform: translateY(56rem); }
  84%, 94% {
    -webkit-transform: translateY(64rem);
            transform: translateY(64rem); }
  100% {
    -webkit-transform: translateY(64rem);
            transform: translateY(64rem); } }

#environment {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center; }

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0px);
          transform: translate3d(0, 0, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

#scene-container .scene {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1; }
  #scene-container .scene.first {
    background-image: url("../images/section5.png");
    -webkit-transform: translate3d(-50%, -50%, -500px);
            transform: translate3d(-50%, -50%, -500px);
    z-index: 7; }
  #scene-container .scene.second {
    background-image: url("../images/section4.png");
    -webkit-transform: translate3d(-50%, -50%, -1500px);
            transform: translate3d(-50%, -50%, -1500px);
    z-index: 6; }
  #scene-container .scene.third {
    background-image: url("../images/section3.png");
    -webkit-transform: translate3d(-50%, -50%, -2500px);
            transform: translate3d(-50%, -50%, -2500px);
    z-index: 5; }
  #scene-container .scene.fourth {
    background-image: url("../images/section2.png");
    -webkit-transform: translate3d(-50%, -50%, -3500px);
            transform: translate3d(-50%, -50%, -3500px);
    z-index: 4; }
  #scene-container .scene.fifth {
    background-image: url("../images/section1.png");
    -webkit-transform: translate3d(-50%, -50%, -4500px);
            transform: translate3d(-50%, -50%, -4500px);
    z-index: 3; }
  #scene-container .scene.about {
    -webkit-transform: translate3d(-50%, -50%, -5500px);
            transform: translate3d(-50%, -50%, -5500px);
    z-index: 2; }

#scene-container .scene.about .text-swap-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden; }
  #scene-container .scene.about .text-swap-container ul {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 128px;
    min-height: 8rem;
    text-align: center;
    font-size: 128px;
    font-size: 8rem;
    line-height: 128px;
    line-height: 8rem;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  #scene-container .scene.about .text-swap-container ul li {
    position: absolute;
    width: 100%;
    opacity: 1; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(1) {
    top: 0px;
    top: 0rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(2) {
    top: -128px;
    top: -8rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(3) {
    top: -256px;
    top: -16rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(4) {
    top: -384px;
    top: -24rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(5) {
    top: -512px;
    top: -32rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(6) {
    top: -640px;
    top: -40rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(7) {
    top: -768px;
    top: -48rem; }
  #scene-container .scene.about .text-swap-container ul li:nth-child(8) {
    top: -896px;
    top: -56rem; }

#scene-container .scene.about.active .text-swap-container ul {
  -webkit-animation-name: text-drop;
          animation-name: text-drop;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

#scene-container .scene.about .content-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  opacity: 0; }

#scene-container .scene.about.active .content-container {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-transition-delay: 2.1s, 2.1s;
          transition-delay: 2.1s, 2.1s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1.07, 0.58, 1);
          transition-timing-function: cubic-bezier(0.23, 1.07, 0.58, 1); }

#scroll-overlay {
  position: relative;
  width: 100%;
  height: 7500px;
  z-index: 2; }
